*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Sen', sans-serif}

html{
    scroll-behavior: smooth;
}

body{
    color: #fff;
   background: #000000;
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}

/* NAVIGATION SECTION */

#header{
    height: 100vh;
}

header{
    padding: 2% 5% 0 5%;
}

.bg-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

/* @media (min-aspect-ratio:16/9){
    .bg-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9){
    .bg-video{
        width: 100%;
        height: auto;
    }
} */

nav{
 display: flex;
 align-items: center;
 justify-content: space-between;
 flex-wrap: wrap;
}

#logo img{
    width: 100px;
}

nav ul li{
    display: inline;
    margin: 10px 20px;
}

nav ul li a{
    font-size: 24px;
    position: relative;
    color: rgb(213, 208, 208);
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgb(106, 38, 149);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;

}

/* INTRO SECTION */

.intro-section{
    display: inline-block;
}

.intro{
    margin-top: 27%;
}

.intro h1{
    font-size: 45px;
    font-weight: 700px;
    line-height: 1.5;
    color: rgb(213, 208, 208);
}

.intro hr{
    width: 400px;
    height: 5px;
    background:  rgb(106, 38, 149);
    border: none;
}



.intro-contact{
   display: flex;
   margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 35px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: rgb(106, 38, 149);
    transform: translateY(-5px);
}
.resume{
    margin-top: 35px;
}
.resume a{
    background: rgb(106, 38, 149);
    text-decoration: none;
    color: #ababab;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 10px;
    cursor: pointer;
}

.resume a{
    transition: transform 0.5s;
}

.resume a:hover{
    transform: translateY(-5px);
}


.container{
    padding: 0 5% 0 5%;
    text-align: center;
    color: #fff;
    font-size: 18px;
}

#sub-title-hr{
    margin: 10px 40% 0 40%;
    height: 5px;
    background:  rgb(106, 38, 149);
    border: none;
}

#sub-title{
    font-size: 45px;
}


/* ABOUT SECTION */
#about{
    padding-top: 30px;
    margin-top: 50px;
}
.about-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-2{
    flex-basis: 60%;
    padding: 40px;
}

.about-col-2 p{
    font-size: 24px;
    line-height: 1.5;
    text-align: left;
    margin-top: 25px;
}

.about-col-1 img{
    width: 350px;
    border-radius: 6px;
    align-items: center;
}




/* Skills */

#skills{
    padding: 10px 0;
    color: #fff;
    text-align: center;
    margin-top: 50px;
}

.skills-icons{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    grid-gap: 20px;
    margin-top: 150px;
}

.skills-icons .fa-brands{
    font-size: 60px;
    text-align: center;
}

.skill-col{
    text-align: center;
}

.skill-col h3{
    margin-top: 10px;
}

.skill-col :hover{
    color: rgb(106, 38, 149);
}
#skills p{
    text-align: center;
    margin-top: 10px;
}

/* PROJECTS SECTION */

#project-section{
    margin-top: 50px;
    padding-top: 30px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    background: rgb(9, 9, 9);
    border-radius: 6px;
    padding: 30px 25px 30px 25px;
    margin-top: 25px;
    position: relative;
}
.first-project{
    margin-top: 100px;
}

.project-col-1{
    flex-basis: 50%;
}

.project-col-2{
    flex-basis: 45%;
}

.project-col-1 img{
    height: auto;
    width: 100%;
}
.project-col-2 h3{
    margin-bottom: 15px;
}
.project-col-2 p span{
    color: rgb(116, 78, 140);
    font-size: 16px;
    font-weight: 700;
}
.project-col-2 ul li{
    list-style: inside;
    text-align: left;
    line-height: 1.5;
    padding-top: 10px;
}
.project-link{
    display: flex;
    place-items: center;
    gap: 20px;
    margin-top: 40px;
}


/* CONTACT SECTION */

#contact-section{
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.contact{
    display: flex;
    flex-wrap: wrap;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 100px;
    gap: 10%;
}


.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 45%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: rgb(106, 38, 149);
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #fff;
    display: inline-block;
    transition: transform 0.5s;
}

.btn.btn-2{
    display: inline-block;
    background:rgb(106, 38, 149) ;
    border-radius: 10px;
}

.resume-2{
   margin-right: 18px;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262622;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    border-radius: 6px;
}

form .btn-2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    color: #fff;
}
.back-to-top{
    color: #fff;
}
.back-to-top a{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    padding: 10px;
}

/* FOOTER SECTION */

footer{
    margin-top: 50px;
    padding: 25px 0 25px 0;
}





/* MEDIA QUERIES  (MEDUIM AND SMALL SCREENS)*/

nav .fa-solid{
    display: none;
}
@media screen and (max-width: 1024px) {

    .container{
        margin-top: 0;
        padding: 0 5% 0 5%;
        font-size: 16px;
    }

    .bg-video{
        display: none;
    }

    nav .fa-solid{
        display: block;
        font-size: 25px;
    }

    nav ul{
        background: rgb(106, 38, 149);
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: 0.5s;
    }

    nav ul li{
        display: block;
        margin: 20px;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    /* MEDIA QUERIES FOR INTRO SECTION */

    #sub-title{
        font-size: 35px;
    }
    #sub-title-hr{
        margin: 10px 30% 0 30%;
    }

    .intro-contact{
        display: block  ;
        width: 450px;
    }

    .intro h1{
        font-size: 32px;
        font-weight: 400px;
        line-height: 1.5;
    }

   
    .intro{
        margin-top: 55%;
    }

    .intro hr{
        width: 270px;
    }
    .social-icons{
        margin-top: 30px;
    }

    .social-icons a{
        font-size: 25px;
    }

    .resume{
        margin-top: 15px;
    }

  

    /* MEDIA QUERIES FOR ABOUT SECTION */

    #about{
        margin-top: 0px;
    }
    .about-section{
        margin-top: 10px;
    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1 img{
        width: 100%;
        padding: 40px;
    }
    .about-col-1{
        
    }

    .about-col-2{
        padding: 0 10px 0 10px;
        text-align: left;
    }
    .about-col-2 p{
        font-size: 16px;
    }



    /*MEDIA QUERIES FOR SKILLS SECTION */

    

.skills-icons{
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;
    margin-top: 35px;
}



.skills-img{
    width: 60   px;
}
.skill-col h3{
    margin-top: 10px;
    font-size: 14px;
}

/* MEDIA QUERIES FOR PROJECTS SECTION */


.project-col-1,
.project-col-2{
    flex-basis: 100%;
}


.contact-left,
.contact-right{
    flex-basis: 100%;
}

.project-col-2 ul li{
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    font-family: sans-serif;
    text-decoration: none;
}
.project-col-2 h3{
    margin-top: 15px;
    font-size: 16px;
}
.project-col-2 p span{
    color: rgb(116, 78, 140);
    font-size: 16px;
    font-weight: 700;
}

.project-col-2 ul{
    margin-bottom: 20px;
}



}

/* MEDIA QUERI FOR BACKGROUND VIDEO */

@media screen and (max-width: 1170px) {
 
    .bg-video{
        display:none;
    }
}